Flow 4.txt
[{"id":"ce76eac2.3cc2a8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"527734b0.43369c","type":"http in","z":"ce76eac2.3cc2a8","name":"","url":"/pin7","method":"get","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["dc6fe02b.ec08b"]]},{"id":"3ed68e88.d3bb62","type":"rpi-gpio in","z":"ce76eac2.3cc2a8","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":280,"wires":[["d030dd60.b0db"]]},{"id":"d030dd60.b0db","type":"function","z":"ce76eac2.3cc2a8","name":"Set GPIO","func":"global.set(\"GPIO\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["bf5e10fe.dc96"]]},{"id":"dc6fe02b.ec08b","type":"function","z":"ce76eac2.3cc2a8","name":"Get GPIO","func":"mag.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["bf5e10fe.dc96","c24a3703.69b6a8"]]},{"id":"bf5e10fe.dc96","type":"debug","z":"ce76eac2.3cc2a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":280,"wires":[]},{"id":"c24a3703.69b6a8","type":"http response","z":"ce76eac2.3cc2a8","name":"","statusCode":"","headers":{},"x":590,"y":140,"wires":[]}]